{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.MessageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" id="form_login">
        <div class="form_control">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required/>
            <label for="username">Email</label>
        </div>

        <div class="form_control">
            <input type="password" id="password" name="_password" required/>
            <label for="password">Password</label>
        </div>

        {# Control the URL the user is redirected to on success #}
        <input type="hidden" name="_target_path" value="{{ path('home') }}"/> 

        {# Add CSRF token #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">login</button>
    </form>

{% endblock %}
